body{
    font-family: Arial, Helvetica, sans-serif;
}
.year-contianer {
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,.55);
}

.year-img {
    height: 50%;
    width: 50%;
}

.month-list {
    display: flex;
    flex-direction: row;
}

.each-month{
    margin-right: 10px;
    margin-left: 10px;
}

.month-container{
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,.55);

}

.month-img {
    height: 50%;
    width: 50%;
}