body{
    font-family: Arial, Helvetica, sans-serif;
}
.year-contianer {
    display: flex;
    justify-content: space-between;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,.55);
    align-items: center;
}

.year-img {
    height: 50%;
    width: 50%;
}
.year-info, .month-info{
    margin-right: 40px;
}
.table-head{
    display: grid;
    grid-template-columns: 100px 1fr;
    font-weight: bold;
}
.table-body{
    display: grid;
    grid-template-columns: 100px 1fr;
    margin-bottom: 15px;
}
.table-left{
    border: none;
    border-color: grey;
    border-width: 1px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;

}
.table-right{
    border: none;
    border-color: grey;
    border-width: 1px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;

}

.month-list {
    display: flex;
    flex-direction: row;
}

.each-month{
    margin-right: 10px;
    margin-left: 10px;
}

.month-container{
    display: flex;
    justify-content: space-between;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,.55);
    align-items: center;

}

.month-img {
    height: 50%;
    width: 50%;
}