body {
    padding: 82px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    align-items: center;
    border-color: grey;
    border-style: solid;
    background-color: rgba(0, 0, 0, .3);
    justify-content: space-between;

}

.header-left {
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 160px;
}

.logo {
    height: 60px;
}

/* video{
    width: 100px;

} */

.header-middle {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 400px;
}

.header-search-bar {
    height: 30px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border: none;
    padding: 5px 10px;
    font-family: Arial;
    font-size: 16px;
    min-width: 300px;

}

.header-search-bar::placeholder {
    font-family: Arial;
    font-size: 16px;
}

.search-btn {
    height: 41px;
    margin-left: -5px;
    border-left: none;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    cursor: pointer;
}

.header-right {
    padding-right: 30px;
}

.user-profile-pic {
    height: 40px;
}

.button-icon {
    height: 45px;
    width: 45px;
    border: none;
    background-color: rgb(178, 178, 178);
    cursor: pointer;
}

.page-heading {
    margin-top: 10px;
    margin-bottom: 30px;
    font-family: arial;
}

.page-heading-text {
    font-weight: bold;
    font-size: 30px;
    text-decoration: underline;
}


.item-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 25px;
    row-gap: 25px;
}

.item-tile {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .55);
}

.item-pic-row {
    margin-bottom: 10px;
}

.item-pic {
    width: 100%;
}

p {
    margin: 0;
}

.item-description {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
}

.item-stock-code, .item-price, .item-rating {
    font-size: 16px;
    color: rgb(96, 96, 96);
    margin-bottom: 4px;
}

@media (max-width:750px) {
    .item-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:500px) {
    .item-grid {
        grid-template-columns: 1fr;
    }
}

@media (min-width:1080px) {
    .item-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}