body{
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: rgb(221, 217, 217); */
    /* background-image: url('bg2.webp'); */
    background-image: url('land.jpg');
    background-size:contain;
    background-position: left;     
}
.main{
    display: grid;
    grid-template-columns: 450px 1fr;
    column-gap: 10px;
    /* background-color: white; */
    background-color: rgb(221, 217, 217);
    width: max-content;
    height: fit-content;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,.55);
    margin: auto;
    margin-top: 20%;
    transition: box-shadow .51s;
}
.main:hover{
    box-shadow: 2px 2px 5px rgba(237, 4, 4, 0.95);
}
.fname{
    width: 140px;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    border-radius: 4px;
    border-width: 1px;
    margin-bottom: 10px;
}
.lname{
    width: 140px;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    border-radius: 4px;
    border-width: 1px;
    margin-bottom: 10px;
}
.email,.pwd{
    width: 295px;
    display: block;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    border-radius: 4px;
    border-width: 1px;
    margin-bottom: 10px;
}
.s-btn,.f-btn{
    font-weight: bold;
    background-color: rgb(0, 106, 255);
    color: white;
    border: none;
    width: 305px;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 10px;
    cursor: pointer;
    display: block;
}
.part-1{
    text-align: center;

}
.part-2{
    border-left: solid;
    padding-left: 20px;
    padding-right: 10px;
}

.part-2-h{
    text-align: center;
    text-decoration: underline;
}
.part-1-h{
    text-align: center;
    text-decoration: underline;
}
.part-1-b{
    padding-left: 10px;
    text-align: left;   
}
li{
    text-align: left;
}
.existing-text{
    text-align: center;
    font-size: 12px;
}
