<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
        <link rel="stylesheet" href="static/landing_page.css">
        <title>
            landing page
        </title>
    </head>

    <body>
        <div class="main">
            <div class="part-1">
                <p class="part-1-h">About our Site</p>
                <p class="part-1-b">
                    To be more descriptive, our project is going to take the users'
                     spending analytics from any UPI transaction app and prepare a
                      suggestion model for them. We have to develop it into a mobile 
                      app as well as a desktop app. Some of the pages or features of 
                      the application will be as follows:
                    <ol>
                        <li> Spending Analysis </li>
                        <li> Reports </li>
                        <li> Suggestions </li>
                    </ol>
                </p>
            </div>
            <div class="part-2">
               <form action="{{url_for('landing_page')}}" method="POST" name="signupForm" onsubmit="validateForm()">
                <p class="part-2-h">Sign Up</p>
                <input class="fname" type="text" placeholder="First name" name="fname">
                <input class="lname" type="text" placeholder="Last name" name="lname">
                <input class="email" type="email" placeholder="Email" name="email">
                <input class="pwd" type="password" placeholder="Password" name="pwd1">
                <input class="pwd" type="password" placeholder="Re-enter Password" name="pwd2">
                <button class="s-btn">Sign Up</button>
               </form >
                <p class="existing-text"> Already have an account? </p>
                <form action="{{url_for('login_page')}}" method="GET">
                    <button class="f-btn">Log In</button>
                </form>
            </div>
        </div>
        <!-- <script>
        function validateForm() {
            let fname = document.forms["signupForm"]["fname"].value;
            let lname = document.forms["signupForm"]["lname"].value;
            let email = document.forms["signupForm"]["email"].value;
            let pwd1 = document.forms["signupForm"]["pwd1"].value;
            let pwd2 = document.forms["signupForm"]["pwd2"].value;
            if (email == "") {
              alert("Email must be filled out");
              return false;
            }
          }
          </script> -->

        {% if message!= '' %}
        <div class="message-box">
            <p class="message"> {{message}}</p>
        </div>
        {% endif %}

    </body>
</html>