{% extends 'home.html' %}
{% block head %}
<title>View Invoice</title>
<link rel="stylesheet" href="{{ url_for('static',filename='home.css') }}" />
<link rel="stylesheet" href="{{ url_for('static',filename='view_invoice.css') }}" />
{% endblock %}

{% block body %}
<div class="invoice">
   <div class="invoice-header">
      <div class="invoice-header-left">
         Invoice : {{data[0]['InvoiceNo']}}
      </div>
      <div class="invoice-header-right">
         <button class="print" onclick="window.print()">
            Print
         </button>
      </div>
   </div>
   <hr>
   <div class="invoice-address">
      <div class="invoice-address-left">
         <p>To: {{user['first_name']}} {{user['last_name']}}</p>
         <p></p>
      </div>
      <div class="invoice-address-right">
         <p> Invoice : {{data[0]['InvoiceNo']}}</p>
         <p> Invoice Date : {{data[0]['Date']}} </p>
         <p> Invoice Time : {{data[0]['Time']}} </p>
      </div>
   </div>
   <hr>
   <div class="table">
      <div  class="table-row">
         <div class="data">StockCode</div>
         <div class="data">Description</div>
         <div class="data">Qty</div>
         <div class="data">Unit Price</div>
         <div class="data">Amount</div>
      </div>
      {% if data|length > 0 %}
      {% for each in data %}
      <div class="table-row">
         <div class="data"> {{each['StockCode']}} </div>
         <div class="data"> {{each['Description']}} </div>
         <div class="data"> {{each['Quantity']}} </div>
         <div class="data"> {{each['UnitPrice']}} </div>
         <div class="data"> {{each['TotalPrice']}} </div>
      </div>
      {% endfor %}
      {% endif %}
   </div>
   <hr>
   <div class="total">
      Total Amount $: {{total}}
   </div>

</div>
{% endblock %}